<!DOCTYPE html>
<html>
  <head>
    <title>My EJS Template</title>
    <link rel="stylesheet" type="text/css" href="/views/css/index.css" />
  </head>
  <body>
    <div class="root"><%= message %></div>
  </body>
</html>
