<html>
  <head>
    <title>My HBS Template</title>
    <link rel='stylesheet' type='text/css' href='/css/index.css' />
  </head>
  <body>
    <div class='root'>
      <h1>Welcome to my backend application</h1>
    </div>
  </body>
</html>